<table class="table table-hover bg-light" id="books-datatable" data-source="<%= books_path(format: :json) %>">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


<%= javascript_pack_tag 'books' %>
